header{
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 80px;
  background-color: white;
  padding-right: 24px;
  padding-left: 24px;
  z-index: 100;
}

body
{
  font-family: 'Noto Sans JP', sans-serif;
}

.headerR
{
  color: #666666;
  display: flex;
  font-family: "Noto Sans JP";
  margin: 16px ;
}

.twitterLink,.instaLink{
  border: solid 1px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle
{
  height: 25px;
  width: 20px;
}

.RightL,.RightR
{
  align-items: center;
  display: flex;
  margin: 16px;
  gap: 16px;
}

.posselogo
{
  position: relative;
  top: 26px;
}

.massOne
{
  position: relative;
  margin-top: 100px;
}

.onePara
{
  background-color: #EFF2F5;
  width: 500px;
  height: 281px;
  padding :40px 62px;
  border-radius: 24px;
  position: relative;
  z-index: 96;
}

.onePic
{
  position: absolute;
  z-index: 95;
  transform: translateY(-90%);
}

.community_posse
{
  font-size: 16px;
  color: #0071BC;
}

.fellow
{
  font-size: 60px;
  margin-top: 12px;
}

.hero
{
  object-fit: cover;
  display: block;
  max-height: 100%;
  float: right;
  border-radius: 80px 0px 0px 80px ;
  width: 70%;
}

.twoHead, .massThree, footer, .massTwo
{
  text-align: center;
}

h2
{
  font-size: 36px;
}


.about
{
  /*後ほど修正  */
  width: 472px;
  height: 312px;
  border-radius: 24px;
}

.massTwo
{
  margin-top: 96px;
  max-width: 1032px;
  margin-left: auto;
  margin-right: auto;
}

.twoPara
{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.aboutPosse
{
  margin: 8px;
}

.aboutParagraph
{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer
{
  margin: auto;
}
.sns
{
  display: flex;
  justify-content: center;
  gap: 16px;
}


/*------------------mass three------------- */


.lineIntroduce{
  margin: 0 auto;
  max-width: 1032px;
  padding: 0 24px;
  width: 100%;
}

.lineIntroduceContainer{
  margin-top: 140px;
  height: 357px;
  background-image: url(./img/bg-line.jpg);
  background-size: cover;
  border-radius: 40px;
  padding-top: 68px;
  position: relative;
  text-align: center;
}

.lineIntroduceContainer::before{
  background-color: rgba(0, 113, 188, 0.9);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 40px;
    z-index: 80;
}
.jump{
  position: absolute;
  right: 20px;
}

.LINE{
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  z-index: 85;
}

.info{
  margin-top: 16px;
  font-size: 14px;
  color: white;
  position: relative;
  z-index: 85;
}

.posseOfficial{
  color: white;
  position: relative;
  z-index: 85;
}

.lineAdd{
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 96px;
  position: relative;
  z-index: 85;
  position: relative;
}

.footerOne{
  margin-top: 80px;
  height: 274.22px;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.posselogo2{
  margin-top: 56.05px;
}

.snsText{
  margin-top: 24.06px;
}

.sns{
  margin-top: 32px;
}

.footerTwo{
  font-size: 10px;
  padding-top: 36px;
  padding-bottom: 31.78px;
}

.bannarParent{
  float: right;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
}
.bannar{
  width: 288px;
  height: 80px;
  background-color: rgba(95, 223, 91, 1);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  margin-bottom: 16px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
}

.bannarJump{
  margin-left: 20px;
}

.bannarDeatail{
  display: flex;
  color: white;
  gap: 13px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

.lineAddTwo{
  height: 36px;
  width: 36px;
  background-color: white;
  border-radius: 30%;
}

